# Cette cible est volontairement liée à la RDB Testing exacte de PE.
APP_ENV=testing
DATABASE_URL=postgresql://testing-partageons-leau-api:<MOT_DE_PASSE_URL_ENCODE>@rw-a94bb20e-1f62-4203-9b60-234c12170876.rdb.fr-par.scw.cloud:5826/testing-partageons-leau-api?sslmode=verify-full&sslrootcert=<CHEMIN_ABSOLU_URL_ENCODE_VERS_CA_TESTING>
S3_ENDPOINT=https://s3.fr-par.scw.cloud
S3_REGION=fr-par
S3_ACCESS_KEY=<CLE_TEMPORAIRE_LIMITEE_A_TESTING_DOCUMENTS>
S3_SECRET_KEY=<SECRET_TEMPORAIRE>
S3_BUCKET_PREFIX=testing-
